services:
  gateway:
    container_name: peruHCE-gateway
    #image: openmrs/openmrs-reference-application-3-gateway:${TAG:-qa}
    build:
      context: ./gateway
    restart: "unless-stopped"
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    environment:
      FRAME_ANCESTORS: ${FRAME_ANCESTORS:-}
      FUA_CONFIG: ${FUA_CONFIG:-}
      FUA_LOCATIONS: ${FUA_LOCATIONS:-}
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  frontend:
    container_name: peruHCE-frontend
    #image: openmrs/openmrs-reference-application-3-frontend:${TAG:-qa}
    build:
      context: ./frontend
    restart: "unless-stopped"
    environment:
      SPA_PATH: /openmrs/spa
      API_URL: /openmrs
      SPA_CONFIG_URLS: /openmrs/spa/config-openmrs.json,/openmrs/spa/config-pucp.json,
      SPA_DEFAULT_LOCALE: es
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/" ]
      timeout: 5s
    depends_on:
      - backend

  backend:
    container_name: peruHCE-backend
    image: openmrs/openmrs-reference-application-3-backend:${TAG:-qa}
    restart: "unless-stopped"
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      OMRS_CONFIG_MODULE_WEB_ADMIN: "true"
      OMRS_CONFIG_AUTO_UPDATE_DATABASE: "true"
      OMRS_CONFIG_CREATE_TABLES: "true"
      OMRS_CONFIG_CONNECTION_SERVER: db
      OMRS_CONFIG_CONNECTION_DATABASE: openmrs
      OMRS_CONFIG_CONNECTION_USERNAME: ${OPENMRS_DB_USER:-openmrs}
      OMRS_CONFIG_CONNECTION_PASSWORD: ${MYSQL_OPENMRS_PASSWORD}
      OMRS_OCL_TOKEN: ${OMRS_OCL_TOKEN}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/openmrs/health/started" ]
      interval: 10s
      timeout: 5s
      retries: 48
      start_period: 120s
    volumes:
      - openmrs-data:/openmrs/data
    build:
      context: .
      args:
        GHP_USERNAME: ${GHP_USERNAME}
        GHP_PASSWORD: ${GHP_PASSWORD}

  db:
    container_name: peruHCE-db-master
    image: mariadb:10.11.7
    restart: "unless-stopped"
    command: "mariadbd --character-set-server=utf8mb3 --collation-server=utf8mb3_bin --server-id=1 --log-bin=mysql-bin --binlog-format=ROW --sync-binlog=1 --log-slave-updates=1"
    healthcheck:
      test: [ "CMD-SHELL", "mariadb --user=${OMRS_DB_USER:-openmrs} --password=${MYSQL_OPENMRS_PASSWORD} --execute 'SHOW DATABASES;'" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      MYSQL_DATABASE: openmrs
      MYSQL_USER: ${OMRS_DB_USER:-openmrs}
      MYSQL_PASSWORD: ${MYSQL_OPENMRS_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      OMRS_DB_REPL_USER: ${OMRS_DB_REPL_USER:-openmrs_repl}
      OMRS_DB_REPL_PASSWORD: ${OMRS_DB_REPL_PASSWORD}
      OMRS_DB_BACKUP_USER: ${OMRS_DB_BACKUP_USER:-openmrs_backup}
      OMRS_DB_BACKUP_PASSWORD: ${OMRS_DB_BACKUP_PASSWORD}
    ports:
      - "3307:3306" # 3307 for host
    volumes:
      - ./scripts/database/db_init_master.sh:/docker-entrypoint-initdb.d/db_init_master.sh
      - db-data:/var/lib/mysql
      - db-backup:/backup

  fua-generator:
    container_name: peruHCE-fua-generator
    image: marcelius733/fua-generator:dev-0.1.4
    ports:
      - "3333:3000"
    #env_file: "enviromentVariables.env"
    environment:
      DB_USER: ${PERUHCE_FUA_GEN_DB_USER:-fuagenerator}
      DB_PASSWORD: ${PERUHCE_FUA_GEN_DB_PASSWORD:-fuagenerator}
      DB_NAME: ${PERUHCE_FUA_GEN_DB:-fuagenerator}      
      TOKEN: ${PERUHCE_FUA_GEN_TOKEN:-fuagenerator}
      DB_HOST: 'fua-generator-db'
      DB_PORT: '5432'
    depends_on:
      - fua-generator-db
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  fua-generator-db:
    container_name: peruHCE-fua-generator-db
    image: postgres:17
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${PERUHCE_FUA_GEN_DB_USER:-fuagenerator}
      POSTGRES_PASSWORD: ${PERUHCE_FUA_GEN_DB_PASSWORD:-fuagenerator}
      POSTGRES_DB: ${PERUHCE_FUA_GEN_DB:-fuagenerator}
    volumes:
      - db-fua-generator:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${PERUHCE_FUA_GEN_DB_USER:-fuagenerator} -d ${PERUHCE_FUA_GEN_DB:-fuagenerator}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  hapi-fhir:
    image: johanamador/hapi-fhir-minsa-peru:latest
    container_name: peruHCE-hapi-fhir
    restart: unless-stopped
    ports:
      - "8085:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://hapi-postgres:5432/hapi
      - SPRING_DATASOURCE_USERNAME=hapi
      - SPRING_DATASOURCE_PASSWORD=hapi
    depends_on:
      - hapi-postgres
    networks:
      - peruHCE-net
  
  hapi-postgres:
    image: postgres:15
    container_name: peruHCE-hapi-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: hapi
      POSTGRES_USER: hapi
      POSTGRES_PASSWORD: hapi
    volumes:
      - hapi_pgdata:/var/lib/postgresql/data
    networks:
      - peruHCE-net
volumes:
  openmrs-data: ~
  db-data: ~
  db-backup: ~
  gateway-data: ~
  db-fua-generator: ~
  hapi_pgdata: ~

networks:
  peruHCE-net:
    driver: bridge
